@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../../node_modules/bootstrap/scss/utilities/_sizing.scss";

/*==========  Desktop First  ==========*/

//Extra large: ≥1200px
@include media-breakpoint-down(xl) {

}

//Large: ≥992px
@include media-breakpoint-down(lg) {

}

//Medium: ≥768px
@include media-breakpoint-down(md) {
  .problems {
    .problems-icon::after {
      width: 200px;
			height: 200px;
    }
  }
  .header-logo {
    text-align: center;
  }
  .main-header {
    .main-header-services{
      h1 {
        font-size: 32px;
      }
    }
    .main-header-promo {
      font-size: 18px;
      h2 {
        font-size: 24px;
      }
    }
    .top-nav {
      .main-header-phone {
        font-size: 20px;
        float: left;
      }
    }
  }
}

//Small: ≥576px
@include media-breakpoint-down(sm) {
  

  .problems {
    .problems-icon::after {
      display: none;
    }
  }
  .work-order {
    .col-md-4:nth-child(2)::before, .col-md-4:nth-child(3)::before {
      display: none;
    }
  }
}

//Extra small: >0
@include media-breakpoint-down(xs) {

}

/*==========  Mobile First  ==========*/

//Extra small: <576px
@include media-breakpoint-up(xs) {
}

//Small: ≤576px
@include media-breakpoint-up(sm) {

}

//Medium: ≤768px
@include media-breakpoint-up(md) {
  .mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
    -webkit-transform: translate(-340px,0);
    -ms-transform: translate(-340px,0);
    transform: translate(-340px,0);
    -webkit-transform: translate3d(-340px,0,0);
    transform: translate3d(-340px,0,0);
  }
  .mm-menu {
    max-width: 340px; 
  }
}

//Large: ≤992px
@include media-breakpoint-up(lg) {

}

//Extra large: ≤1200px
@include media-breakpoint-up(xl) {

}
