@import "mixins/mixins";
@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";


$default-font: "OpenSans", sans-serif;
$header-font: "Oswald", sans-serif;
$accent: #EDCB71;
$text-color: #222;
$text-inverse: #eee;
$wrapper-bg-bolor: rgba(0, 0, 0, 0.7);
$maincolor: #FF9900;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
