@import "vars";
@import "fonts";

::placeholder {
	color: #ccc;
	@include transition-animation;
}
	
::selection {
	background-color: $accent;
	color: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
	margin: -1px;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
	height: 100%;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $header-font;
		weight: normal;
	}
	line-height: 1.4;
	text-transform: uppercase;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 10px;
	@include transition-animation;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}
	

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
	
.text-center {
	text-align: center;
}

.mm-wrapper_opening .mm-menu_position-right.mm-menu_opened~.mm-slideout {
	-webkit-transform: translate(-340px,0);
	-ms-transform: translate(-340px,0);
	transform: translate(-340px,0);
	-webkit-transform: translate3d(-340px,0,0);
	transform: translate3d(-340px,0,0);
}
	
// block specific
.mm-menu {
	max-width: 340px; 
}
.mm-panels {
	.mm-navbar .mm-navbar__title {
		color: #ffffff;
		text-transform: uppercase;
	}
	a:after, .mm-listitem:after {
		border: none;
	}
}
.main-header {
	color: #fff;
	background-attachment: fixed;
	background-image: url("../img/header-bg.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.6);
	a {
		color: #fff;
	}
	.is-sticky .top-nav {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.main-header-wrapper {
		background-color: rgba(0, 0, 0, 0.6);
		border-bottom: 1px solid;
	}
	.top-nav {
		.header-logo {
			img {
				margin-top: 7px;
			}
		}
		.main-header-hamburger, .main-header-phone {
			line-height: 75px;
			float: right;
			padding: 0;
			margin-left: 20px;
		}
		.main-header-hamburger {
			margin-top: 5px;
		}
		.main-header-phone i {
			margin-right: 10px;
			font-size: 32px;
			color: $maincolor;
		}
		.main-header-phone {
			font-size: 30px;
		}
		.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
			background-color: #fff;
		}
	}
	.main-header-promo {
		margin-top: 60px;
		margin-bottom: 60px;
		font-size: 24px;
		ul {
			padding-left: 30px;
		}
		li:before {
			content: '\f105';
			font-family: FontAwesome;
			color: $maincolor;
			font-weight: bold;
			position: absolute;
			left: -30px;
		}
		li {
			list-style: none;
			margin-bottom: 15px;
			position: relative;
		}
	}
}

#reviews {
	margin-top: 900px;
}

@media (min-width: 550px) {

}

@import "media"; // Always at the end
