@import "vars";
@import "fonts";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints";
@import "../../node_modules/bootstrap/scss/utilities/_display";
@import "../../node_modules/bootstrap/scss/mixins/_transition";
@import "../../node_modules/bootstrap/scss/mixins/_border-radius";
@import "../../node_modules/bootstrap/scss/mixins/_box-shadow";
@import "../../node_modules/bootstrap/scss/_modal";
@import "../../node_modules/bootstrap/scss/mixins/_hover";
@import "../../node_modules/bootstrap/scss/mixins/_forms";
@import "../../node_modules/bootstrap/scss/mixins/_gradients";
@import "../../node_modules/bootstrap/scss/_forms";


::placeholder {
	color: #ccc;
	@include transition-animation;
}
	
::selection {
	background-color: $accent;
	color: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
	margin: -1px;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html, body {
	height: 100%;
}

body {
	font-size: 18px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		family: $header-font;
		weight: normal;
	}
	line-height: 1.4;
	text-transform: uppercase;
}

input, textarea {
	border: 1px solid #ccc;
	padding: 15px;
	border-radius: 5px;
	@include transition-animation;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
}

a {
	text-decoration: none;
	color: $text-color;
	&:hover {
		text-decoration: none;
	}
}
	
.btn {
  position: relative;
  display: inline-block;
  padding: 20px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
 	background-color: $maincolor;
  color: $text-inverse;
	transition: background-color .3s;
	cursor: pointer;
	
	&:hover, &:focus {
		background-color: darken($maincolor, 10%);
	}
	&:before {
		content: "";
  	position: absolute;
		top: 50%;
		left: 50%;		
		display: block;
		width: 0;
		padding-top: 0;			
		border-radius: 100%;		
		background-color: rgba(236, 240, 241, .3);		
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	&::active:before {
		width: 120%;
		padding-top: 120%;		
		transition: width .2s ease-out, padding-top .2s ease-out;
	}
	> * {
		position: relative;
	}
	span {
		display: block;
  	padding: 12px 24px;
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
	
.text-center {
	text-align: center;
}

section {
	margin-top: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	border-top: 1px solid rgba(255, 255, 255, 0);
	h2, h3, h4, h5, h6 {
		text-align: center;
		margin-bottom: 40px;
	}
	.container {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}

.section-content-header {
	font-weight: bold;
	font-size: 22px;
	text-align: center;
}

form {
	background-color: #fff;
	border-radius: 5px;
	color: $text-color;
	padding: 30px;
	text-align: center;
	input {
		width: 100%;
		margin-bottom: 20px;
		text-transform: uppercase;
		font-size: 16px;
	}
	p {
		font-size: 15px;
			margin-bottom: 30px;
	}
	.form-header {
		font-weight: bold;
		text-align: center;
		font-size: 34px;
		line-height: 1.1;
		margin-top: 0;
	}
}

.call-to-action {
	text-align: center;
	display: block;
	margin-top: 40px;
}
.accordion-group {
	.accordion {
		
		[data-control] {
			border-bottom-color: $maincolor;
			padding: 5px;
			font-weight: bold;
			cursor: pointer;
			&::after {
				top: 25px;
			}
		}
		[data-content] {
			p {
				border: none;
				line-height: 1.65;
				margin-left: 30px;
			}
		}

	}
}
.gotcha, .hidden {
	display: none;
}
.form-control:focus {
	border-color: $accent;
	box-shadow: 0 0 0 0.2rem rgba(237, 203, 113, 0.45);
}
.calc-form {
	fieldset {
		border: none;
	}
	select {
		display: none;
		margin-top: 5px;
	}
	.visible {
		display: block;
	}
	.form-group {
		text-align: left;
		margin-top: 10px;
	}
	.calc-form-answer {
		text-align: left;
		font-weight: bold;
	}
}

// block specific
.mm-slideout { z-index:auto !important;}
.mm-panels {
	.mm-navbar .mm-navbar__title {
		color: $text-inverse;
		text-transform: uppercase;
	}
	a:after, .mm-listitem:after {
		border: none;
	}
}
.main-header {
	color: $text-inverse;
	background-attachment: fixed;
	background-image: url("../img/header-bg.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.6);
	a {
		color: $text-inverse;
	}
	.is-sticky .top-nav {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.main-header-wrapper {
		background-color: $wrapper-bg-bolor;
		border-bottom: 1px solid;
	}
	.top-nav {
		.header-logo {
			img {
				margin-top: 7px;
			}
		}
		.header-nav {
			position: relative;
			text-align: right;
			a {
				margin-right: 15px;
			}
		}
		.main-header-hamburger, .main-header-phone {
			line-height: 75px;
			padding: 0;
			margin-right: 20px;
		}
		.main-header-hamburger {
			margin-top: 5px;
		}
		.main-header-phone i, .main-header-vk i {
			margin-right: 10px;
			font-size: 32px;
			color: $maincolor;
		}
		.main-header-phone {
			font-size: 24px;
		}
		.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
			background-color: #fff;
		}
	}
	.main-header-promo {
		margin-top: 60px;
		margin-bottom: 60px;
		font-size: 24px;
		h1 {
			margin-top: 0;
			font-size: 28px;
		}
		ul {
			padding-left: 30px;
		}
		li:before {
			content: '\f105';
			font-family: FontAwesome;
			color: $maincolor;
			font-weight: bold;
			position: absolute;
			left: -30px;
		}
		li {
			list-style: none;
			margin-bottom: 15px;
			position: relative;
		}
			}
}

.reasons {
	p {
		text-align: center;
	}
	.section-content-header {
		&::after {
			content: "";
			display: block;
			width: 180px;
			height: 180px;
			background-repeat: none;
			background-position: center;
			margin: 20px auto;
		}
	}
	.around-a-clock::after {
		background-image: url("../img/circular-clock.png");
		background-size: cover;
	}
	.professionally:after {
		background-image: url("../img/thumbs-up.png");
		background-size: cover;
	}
	.reliably::after {
		background-image: url("../img/shield.png");
		background-size: cover;
	}
	.reasons-disclaimer {
		font-weight: bold;
    font-size: 14px;
	}
}

.method {
	background-image: url("../img/method-bg.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center;
	color: $text-inverse;
	li:before {
		content: '\f14a';
		font-family: FontAwesome;
		color: $maincolor;
		font-weight: bold;
		position: absolute;
		left: -30px;
		font-size: 20px;
	}
	li {
		list-style: none;
		margin-bottom: 15px;
		position: relative;
	}
	.method-wrapper {
		background-color: $wrapper-bg-bolor;
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		border-top: 1px solid rgba(255, 255, 255, 0);
	}
	.container {
		text-align: center;
		ul {
			text-align: left;
		}
	}
	.btn {
		text-transform: uppercase;
		margin-top: 30px;
	}
}

.problems {
	text-align: center;
	.section-content-header {
		&::before {
			content: "";
			display: block;
			width: 140px;
			height: 140px;
			background-repeat: none;
			background-position: center;
			margin: 20px auto;
		}
	}
	.problems-icon {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 30px;
			width: 300px;
			height: 300px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			background-image: url('../img/danger.png');
			background-size: contain;
			background-repeat: none;
			background-position: center;
		}
	}
	.health-danger {
		.section-content-header::before {
			background-image: url('../img/transfusion.png');
			background-size: cover;
		}
	}
	.property-danger {
		.section-content-header::before {
			background-image: url('../img/couch.png');
			background-size: cover;
		}
	}
	.inefficiency-danger {
		.section-content-header::before {
			background-image: url('../img/business-down-bars-graphic.png');
			background-size: cover;
		}
	}
	.low-qualification-danger {
		.section-content-header::before {
			background-image: url('../img/accident.png');
			background-size: cover;
		}
	}
	.contract-absence-danger {
		.section-content-header::before {
			background-image: url('../img/bad-grades.png');
			background-size: cover;
		}
	}
}

.solutions {
	color: $text-inverse;
	background-image: url('../img/advantages-bg.jpg');
	background-position: center;
	background-repeat: none;
	background-size: cover;
	.solutions-wrapper {
		background-color: $wrapper-bg-bolor;
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		border-top: 1px solid rgba(255, 255, 255, 0);
	}
}

.advantages {
	.section-content-header::before {
		content: "";
		display: block;
		width: 120px;
		height: 120px;
		background-repeat: none;
		background-position: center;
		margin: 20px auto;
	}
	.around-a-clock::before {
		background-image: url('../img/circular-clock.png');
		background-size: cover;
	}
	.effective::before {
		background-image: url('../img/save.png');
		background-size: cover;
	}
	.safely::before {
		background-image: url('../img/file.png');
		background-size: cover;
	}
	.fast::before {
		background-image: url('../img/car.png');
		background-size: cover;
	}
}

.work-order {
	color: $text-inverse;
	background-image: url('../img/workorder-bg.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: none;
	background-size: cover;

	.work-order-wrapper {
		background-color: $wrapper-bg-bolor;
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		border-top: 1px solid rgba(255, 255, 255, 0);
	}

	.col-md-4 {
		padding-left: 30px;
		padding-right: 30px;
		position: relative;
	}
	.call::before {
		content: '\f2a0';
	}
	.processing::before {
		content: '\f134';
	}
	.prevention::before {
		content: '\f13a';
	}
	.section-content-header::before {
		font-family: FontAwesome;
		font-size: 50px;
		margin-right: 20px;
		margin-left: -30px;
	}
	.col-md-4:nth-child(2)::before, .col-md-4:nth-child(3)::before {
		content: '\f0a9';
		font-family: FontAwesome;
		font-size: 35px;
		color: $maincolor;
		position: absolute;
		left: -20px;
		top: 50%;
	}
}

.services {
	text-align: center;
	.industrial-desinfection::before {
		background-image: url('../img/industrial-desinfection.png');
	}
	.auto-desinfection::before {
		background-image: url('../img/auto-desinfection.png');
	}
	.deratisation::before {
		background-image: url('../img/deratisation.png');
	}
	.desinsection::before {
		background-image: url('../img/desinsection.png');
	}
	.stinger-desinsection::before {
		background-image: url('../img/stinger-desinsection.png');
	}
	.field-desinsection::before {
		background-image: url('../img/field-desinsection.png');
	}
	p::before {
		content: "";
		display: block;
		width: 120px;
		height: 120px;
		background-repeat: none;
		background-position: center;
		margin: 20px auto;
		background-size: cover;
	}
}

.prices {
	background-color: lighten( $wrapper-bg-bolor, 70% );
	.prices-section {
		margin-top: 15px;
	}
	form {
		ul {
			list-style: none;
			text-align: left;
			font-size: 16px;
			li {
				position: relative;
			}
			li::before {
				content: '\f14a';
				font-family: FontAwesome;
				color: $maincolor;
				font-weight: bold;
				position: absolute;
				left: -30px;
				font-size: 18px;
			}
		}
		p {
			font-size: 14px;
		}
		.intro {
			font-size: 13px;
		}
	}
}

.reviews {
	blockquote {
		position: relative;
		footer {
			font-family: $header-font;
			text-align: right;
			font-size: 18px;
			cite {
				margin-left: 15px;
				font-weight: 200;
				font-style: normal;
			}
		}
	}
}

.faq {
	margin-top: 0;
}

.main-footer {
	color: $text-inverse;
	background-color: #333;
	border-bottom: 1px solid rgba(255, 255, 255, 0);
	border-top: 1px solid rgba(255, 255, 255, 0);
	line-height: 1.3;
	a {
		color: $maincolor;
	}
	.container {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.fa {
		margin-right: 5px;
	}
}

.modal {
	.close {
		position: absolute;
    padding: 0;
    right: 20px;
	}
	form {
		padding-top: 50px;
	}
	.modal-body {
		background-color: #fff;
		.section-content-header {
			margin-top: 60px;
		}
	}
}

@import "media"; // Always at the end
